<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Retro</title>
  </head>
  <body>
    <h1>Retros</h1>

    <ul class="retros">
      <% for(var i = 0; i < retros.length; i++) { %>
        <li class="retro">
          <p><%= retros[i].learnt%></p>
          <p><%= retros[i].successes%></p>
          <p><%= retros[i].challenges%></p>
          <p><%= retros[i].goals%></p>
        </li>
      <% } %>
    </ul>

    <form action="/retros" method="post">
      <p>What did you learn yesterday?</p>
      <input type="text" name="learnt">
      <p>What were your successes?</p>
      <input type="text" name="successes">
      <p>What did you find challenging?</p>
      <input type="text" name="challenges">
      <p>What do want you to learn today?</p>
      <input type="text" name="goals">
      <input type="submit" value="submit">
    </form>

  </body>
</html>
